.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

.search {
    padding-left: 35px;
    font-size: large;
}

.search-icon {
    position: absolute;
    top: 25%;
    left: 8px;
    height: 50%;
}

.clear-icon {
    position: absolute;
    top: 25%;
    right: 8px;
    height: 50%;
    cursor: pointer;
    visibility: hidden;
}

.search:hover, .search:focus {
    border: 1px solid #009688;
    background-color: white;
}

/* All in one selector */
.search-banner {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(http://notrealdomain2.com/newbanner.png) no-repeat;
    width: 180px; /* Width of new image */
    height: 236px; /* Height of new image */
    padding-left: 180px; /* Equal to width of new image */
}

.images{
    padding: 1em;
    column-count: 4;
}

.image {
    width: 100%;
    margin-bottom: 1em;
    max-height: 500px;
    max-width: 500px;
}

.image:hover {
    cursor: pointer;
}

@media(max-width: 800px){
    .images{
        column-count: 3;
    }
}

@media(max-width: 600px){
    .images{
        column-count: 2;
    }
}

@media(max-width: 400px){
    .images{
        column-count: 1;
    }
}

.image-container {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0px auto;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

/* Source: https://github.com/WebDevSimplified/Vanilla-JavaScript-Modal */
*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    padding: 12px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}