<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <div class="modal" id="image-modal">
        <div class="modal-header">
            <div class="title">Image</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <span id="image-name-popup"></span><br>
            <span>Downloads count: </span>
            <span id="image-downloads-popup"></span><br>
            <a id="image-user-popup">Author</a>
            <div id="target">
                <img id="image-popup" class="image">
            </div>

            <button id="download-link" class="form-submit left">Download</button>
            <button th:if="*{showDeleteButton}" id="delete-link" class="form-submit right">Delete</button>
        </div>
    </div>
    <span class="user-name">Name:</span><p class="user-name" th:text="${user.username}"></p>
    <p id="user-name"></p>
    <a th:if="*{showUploadButton}" href="/uploading" data-link="ajax" class="center-button">Upload images</a>
    <p>Uploaded images:</p>
    <div id="images" class="images"></div>
</div>
<div id="overlay"></div>

<script src="/js/dist/FileSaver.js"></script>
<script src="/js/utils/popup.js"></script>
<script src="/js/utils/imageUtils.js"></script>
<script src="/js/account.js"></script>
</html>
