<div class="container">
    <form action="/register" method="post">
        <div class="row">
            <div class="col-25">
                <label>Register</label>
            </div>
            <div class="col-75">
                <input class="form-text-field" type="text" name="login" placeholder="Your login..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Password</label>
            </div>
            <div class="col-75">
                <input class="form-text-field" type="password" name="confirmPassword" placeholder="Your password..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Confirm password</label>
            </div>
            <div class="col-75">
                <input class="form-text-field" type="password" name="password" placeholder="Confirm your password..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Name</label>
            </div>
            <div class="col-75">
                <input class="form-text-field" type="text" name="name" placeholder="Your name..">
            </div>
        </div>
        <div class="row">
            <input class="form-submit" type="submit" value="Submit">
        </div>
    </form>
</div>
<script src="js/register.js"></script>