<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Flex Images</title>
<link rel="icon" href="images/logo.jpg">
<link rel="stylesheet" href="css/navigation.css">
<link rel="stylesheet" href="css/content.css">
<link rel="stylesheet" href="css/search.css">
<link rel="stylesheet" href="css/forms.css">
<link rel="stylesheet" href="css/progressBar.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
