<nav class="navbar">
    <div class="content">
        <div class="logo">
            <a href="/about" data-link="ajax">Flex Images</a>
        </div>
        <ul class="menu-list">
            <div class="icon cancel-btn">
                <i class="fas fa-times"></i>
            </div>
            <li><a href="/about" data-link="ajax">Home</a></li>
            <li><a href="/search" data-link="ajax">Search</a></li>
            <li><a href="/account" data-link="ajax">Account</a></li>
            <li><a href="/out">Log out</a></li>
        </ul>
        <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>