<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
    <details>
        <summary>Account</summary>
        <h1>Register:</h1>
        <b>URL: http://{host}/api/account/register; Method: POST</b>
        <br>
        <b>Args: </b>
        <br>
        <a>String login</a>
        <br>
        <a>String name</a>
        <br>
        <a>String password</a>
        <br>
        <a>String confirmPassword</a>
        <br>

        <hr>

        <h1>Login:</h1>
        <b>URL: http://{host}/api/account/login; Method: POST</b>
        <br>
        <b>Args: </b>
        <br>
        <a>String username</a>
        <br>
        <a>String password</a>

        <p>If method is authorize required</p>
        <p>Key: Authorization; Value: Bearer {token}</p>
    </details>
</body>
</html>