<div class="title">Cloud image store by Flex</div>
<p>We represent our free platform for publishing and downloading your images</p>
<div><img class="image" src="https://unsplash.it/200/310"></div>
<p>You want to share your images with each others? We can to help you. Flex Images is a open platform to content
    creators. Just upload your photo, and we show it for users of our platform.</p>
<div><img class="image" src="https://unsplash.it/200/370"></div>
<p>We have been working since 2020</p>
<div><img class="image" src="https://unsplash.it/200/390"></div>
<p>Monetize your creativity</p>
<div><img class="image" src="https://unsplash.it/200/350"></div>

<script src="/js/home.js"></script>